<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="login_style.css">
</head>
<body>
    <div class="login">
        <i class="fa fa-joomla"></i>
        <h2>Login</h2>
        <div class="group"><input type="text" placeholder="Username"><i class="fa fa-user"></i></div>
        <div class="group"><input type="password" placeholder="Password"><i class="fa fa-lock"></i></div>
        <button> <i class="fa fa-sign-in"></i>Login</button>
        <p class="fs">Forgot <a href="#">Username</a> / <a href="#">Password</a> ? </p>
        <p class="ss">Don't have an account? <a href="signup.html">Sign up</a></p>
    </div>
</body>
</html>