.column8{
    float: left;
}

.container::after{
    content: "";
    clear: both;
    display: table;
}

.leftContainer{
    width: 70%;
    padding-right: 20px;
}

.rightContainer{
    width: 30%;

}

.recommendItBar {
    margin-top: 8px;
}
.actionLinkLite {
    color: #00635d;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.greyText {
    color: #999999;
}
.bigBoxContent {
    margin: 0;
    padding: 10px 0.5em 8px 0.5em;
}
.bookCarousel {
    padding-top: 4px;
    margin-top: -14px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.carouselRow {
    height: 100%;
    max-height: 200px;
    position: relative;
    white-space: nowrap;
}
.carouselRow ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding-left: 5px;
    padding-right: 0px;
}

.cover {
    float: left;
    margin-right: 10px;
}
.bookCarousel .navButton {
    bottom: 5px;
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 24px;
}

.navButtonPrev {
    left: 0px;
}
.sliderArrowPrev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAYAAAA7kX6CAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQA3LzI0LzEzqXi4CAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAI8SURBVDiNnZRNaBNBFMd/M0mbaFpNYrW0NaYnqXjwIIVeFBRKsAcLUg/e9K6H2iIUPFUKHiR348VGBA8pKJqrCMGC4CFdP0ClYIOWavGDrbZN0t3xkDdljfHSB39YZvY3839v3owyxrCTCAMopVrNaZkPiQC2RJ7+z4IW2pVOp+Ou697zPO8TsBtoBzQtrCqZ3AukK5XKAyMBpIEE0N4MKqAN2AMcchzntgkEcBQ4AESCoIU6gVSpVLphmgI4DvQCUQsqyakD6CsWi1d93/eDkOM4LjAo4PaOISAG9OTz+Yv1er0WhBYXFzdSqdRD4JhY3c4xAnRls9nRarW6HoRWVlZqAwMDz4CzwGEpTtiCnUC/67pfmvPKZDJl4JLY7BNnOiyFCQPRhYVStK+356+z6e5OlIFl4DewCdQBYxtAA3p8/PqL9Y1NT2mN1eTk5XMjI8P7aHSMDzSOQazGxf+F06dOLnx4/9Jb+ugYq1fO888jZ4ZPAPulHsqCMeCg5HFlbGz03dLSa79SeWOsHGf+rXROBxCyVuuSww+gXCg8mp2ZuVXRSmOVTCSOyAYRQFtwC9gAfgKrwHwud/d+7s7scjBfICrdtQ2awK7fga/A0+npm4W5ucerSmmU0rZRNKDCAdAPwFr0ZGJiqi2ZjJ8fGhqM26MAUMaY4EVWsmqExg3pkoqPAf3ANeAbsNYMBuEojY6K0bifHvALWAPWw/wbRn6qyvemFMTIWA3wW4EW3goUzb45nsionb5yfwCzsDcwXc9OLgAAAABJRU5ErkJggg==);
}

.navButtonArrow {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.bookCarousel .navButton {
    bottom: 5px;
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 24px;
}

.navButtonNext {
    right: 0px;
}
.sliderArrowNext {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAYAAAA7kX6CAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQA3LzI0LzEzqXi4CAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAI9SURBVDiNnZRNaFNBFIW/9/LT2DTaWLVajXElEYUK0qWCQilmYUG6cad7XVS6dFVdqIsshRRBjRVcpKBItiIUC4Jg+/wBtdU22BiNqDzpT37eGxe5kw4RN71wVsOZc8+5d8ZSSrGZsgQBICgA8AQNwDcJWsgWhIFOz/O+uK57P5lMdgNb5CL7f6phIA4klVSxWHwIJIFtcm6Zilq1A9gFHFZGOY6TBfYDW4GQJpvECNAHHFNtNT09fRVIADFNblfsAwYcx3FNou/7fqFQuAzsBbrEs6WJYWm1P5FIPFpYWFgzyfV6vZbL5c4De4AoENDEoIRzEDiTSqWelcvlmkmuVqurmUxmGNgBdJgjiUo7A8CFoaGh2Xa/rut+Aw4AMaUUQUABdWAdWAFKvb3x2c+fXvWbM1sufY1IkEHdJkL2gUY6PdgzNnbxrGVvzH1lZdUbHb3ygo2FAZlPB7AzfXrw+Gvn+fLSoqM0Pn546Z06eWIOOCc5dGuPAYk66Tgz74rFt0pjaemNPzIy/B64JP73AVHt0RbF6PZ4/JDpa/zajWI+//geMAv8kgzq2qMtWxExfWWzd0oTE3cfADNABfgNrNF8Mdji0QYClmVjWTZTU08q4+PX88BT4Dvw01BrPeCIbMXR+fm5+uTk7UooFLoFDAJHgN0y59a6KaVaicaAHuAmsAjkpbUfgAtUaT5spRO15KZOIXdJyjVp7Q/NxfB0iyZR/wBhUbfES03QMH2ZxFY4AkTBN5X+IW72l/sLwHFRUUmxtEIAAAAASUVORK5CYII=);
}

.navButtonArrow {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.seeMoreLink {
    margin-top: 8px;
}

.actionLink {
    color: #00635d;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

br.clear, div.clear {
    clear: both;
    display: block;
    height: 0;
    margin: 0;
    font-size: 1px;
    line-height: 0;
}
.bigBox {
    width: 100%;
    padding-bottom: 10px;
}
.clearFloats:after {
    content: '.';
    display: block;
    visibility: hidden;
    height: 0px;
    clear: both;
}


.bigBox .h2Container h2 {
    display: block;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 2px 0;
    width: auto;
    height: 24px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

h2.brownBackground {
    background: transparent;
    border-bottom: 1px solid #D8D8D8;
}
.elementListLast {
    border-bottom: none;
    padding: 5px;
}

.actionLink {
    color: #00635d;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.bookAuthorProfile__widgetContainer {
    display: inline-block;
    vertical-align: bottom;
}
.bookAuthorProfile__about {
    font-size: 14px;
}
a {
    color: #00635d;
    text-decoration: none;
}
.right {
    float: right;
}

.left {
    float: left;
}

.elementList {
    border-bottom: 1px solid #D8D8D8;
    padding: 5px;
    height: 30px;
    font-size: 14px;
}

.left a {
    color: #00635d;
}

.right a {
    color: #999999;
}

.brownBackground {
    border-bottom: 1px solid #D8D8D8;
}

.brownBackground a {
    color: #382110;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.bookAuthorProfile__photo img {
    background-size: cover;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.bookAuthorProfile__photoContainer {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 8px;
}

.bookAuthorProfile__widgetContainer {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 12px;
}

.bookAuthorProfile__name {
    display: inline-block;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 16px;
    font-weight: bold;
}

.bookAuthorProfile__name a {
    color: #000000;
}

.bookAuthorProfile__followerCount {
    color: #999999;
    margin-bottom: 4px;
    margin-top: 4px;
}

.bookAuthorProfile__about {
    font-size: 14px;
}

.book {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
}

.moreLink {
    display: block;
    margin-top: 1em;
    text-align: right;
    width: 100%;
    float: right;

}

.articles {
    width: 100%;
    padding-bottom: 10px;
    display: block;
}

.newsPreview__newsImage {
    width: 100%;
}

.news__newsHeader {
    margin-top: 0px;
    color: #00635d;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.newsPreview__likesAndComments {
    font-size: 14px;
    color: #767676;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

    line-height: 1.15;
    padding-bottom: 12px;
}

.news__readMore a {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 16px;
    color: #00635d;
    text-decoration: none;
    width: 100%;
}

.bigBox {
    width: 100%;
    padding-bottom: 10px;

    margin-bottom: 10px;
    display: block;
}

.newsPreview__item {
    display: grid;
    grid-row-gap: 12px;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 12px;
}
a.greyText{
    color: #999999;
    font-size: 12px;
}

