<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen2</title>
    <link type="text/css" rel="stylesheet" href="screen2_style.css" />
    <link type="text/css" rel="stylesheet" href="normalize.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="right.css" />
</head>

<body>

    <div class="container">
        <div class="leftContainer column8">
            <div class="topLeftContainer">
                <div class="leftTopLeftContainer column">
                    <div class="bookImage">

                        <img src="image/bookImage.png" style="width:170px;height:300px;margin-left:0px;" />

                    </div>

                    <div class="readButton">
                        <div class="readButton">
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown">Want to read
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Want to read</a></li>
                                    <li><a href="#">Currently read</a></li>
                                    <li><a href="#">Read</a></li>
                                    <hr>
                                    <div>Add New Shelf</div>
                                </ul>

                            </div>

                        </div>

                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>

                    </div>




                </div>

                <div class="rightTopLeftContainer column">

                    <div style="font-size: 15px; color: blue; font-weight: bold;">
                        The Midnight Library
                    </div>

                    <div style="color: grey;">
                        <span>by Matt Haig</span>
                        <span> (Goodreads Author)</span>
                    </div>

                    <div class="starRating">
                        Chut nua se code

                    </div>

                    <div class="descriptionBook">
                        <div class="descriptionBook1 column1">
                            Between life and death there is a library, and within that library, the shelves go on
                            forever. Every book provides a chance to try another life you could have lived. To see how
                            things would be if you had made other choices . . . Would you have done anything different,
                            if you had the chance to undo your regrets?”
                        </div>

                        <div class="choice2020Image column1">
                            <img src="image/choice2020.PNG" />
                        </div>


                    </div>

                    <div>
                        A dazzling novel about all the choices that go into a life wel
                        <span><a> ...more</a></span>
                    </div>

                    <hr>

                    <div>
                        <p>GET A COPY</p>

                        <div class="linkToBuy">
                            <div class="column3">
                                <button type="button">Amazon</button>
                            </div>

                            <div class="onlineStoresButton column3">

                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">Online Stores
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Audible</a></li>
                                        <li><a href="#">Google Play</a></li>
                                        <li><a href="#">Idigo</a></li>
                                        <li><a href="#">Abebooks</a></li>
                                        <li><a href="#">Alibris</a></li>
                                        <li><a href="#">Book Depository</a></li>

                                    </ul>

                                </div>



                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="bookDetails">
                        <div>
                            Hardcover, 288 pages
                            <br>
                            Published September 29th 2020 by Viking
                            <span> (first published August 13th 2020)</span>
                        </div>

                        <div class="moreAndEditDetails">
                            
                                <div class="column2"><a>More Details...</a></div>
                                
                                
                                    <div class="column2 editDetails">
                                        <a>Edit Details</a>
                                    </div>
                                
                            





                        </div>

                    </div>

                    <hr>

                    <div class="feature">
                        <div>
                            FEATURED NOTES & HIGHLIGHTS
                        </div>

                        <div class="detailUserAndImage">
                            <div class="highlightUser column4">
                                <div>
                                    <img src="image/user1.PNG" style="height: 50px; width: 50px;" />

                                </div>

                            </div>

                            <div class="detailUser column4">
                                <div>
                                    <span>Miranda Reads</span>
                                    <span> - Top Reviewer</span>
                                </div>

                                <div>
                                    <a>16 notes & 16 highlights</a>
                                </div>
                            </div>


                        </div>



                    </div>
                </div>

            </div>

            <div class="review" style="margin-top: 20px">
                <div style="margin-bottom: 0px; font-weight: bold;">
                    FRIEND REVIEW
                </div>

                <hr style="margin-top: 5px; margin-bottom: 5px;">

                <div>
                    To see what your friends thought of this book,<a href="#"> please sign up.</a>
                </div>

                <div style="margin-bottom: 0px; margin-top: 15px; font-weight: bold;">
                    READER Q&A
                </div>

                <hr style="margin-top: 5px; margin-bottom: 5px;">

                <div style="margin-top: 5px;">
                    To ask other readers questions about
                    <span style="font-size: 15px;"><a style="color: black;">The Midnight Library,</a></span>
                    <span> <a href="###"> please sign up</a>.</span>
                </div>

                <div style="margin-top: 15px; font-weight: bold;">
                    Popular Answered Questions
                </div>

                <div style="margin-top: 15px;">
                    <a style="color: black; font-size: 15px;">
                        Is this a suitable 'teen read', or is it aimed at an adult audience? Thanks
                    </a>

                </div>

                <div style="margin-top: 5px">
                    <span style="color: grey;">27 likes</span>
                    <span style="color: grey;">.</span>
                    <span><a>Like</a></span>
                    <span>.</span>
                    <span style="color: grey;">7 months ago</span>
                    <span>.</span>
                    <span><a style="font-weight: bold;">See all 31 answers</a></span>
                </div>

                <div class="review1" style="margin-left: 20px; margin-top: 15px;">
                    <div class="review1Image column2">
                        <img src="image/user2.PNG" / style="height: 50px; width: 50px;">
                    </div>

                    <div class="detailReview1 column2" style="padding-left: 20px;">
                        <span><a href="###">Blue Wren</a></span>
                        <span>
                            This is not suitable for teens because they deserve better literature than this predictable
                            guff.
                        </span>
                    </div>
                </div>

                <hr style="margin-top: 5px; margin-bottom: 10px;">

                <div style="text-align: right; margin-bottom: 15px; font-weight: bold;">
                    <a href="###">See all 55 questions about The Midnight Library...</a>
                </div>

                <div style="font-weight: bold;">
                    LISTS WITH THIS BOOK
                </div>

                <hr style="margin-top: 5px; margin-bottom: 10px;">

                <div>
                    code sau
                </div>

                <div style="margin-top: 20px; text-align: right; font-weight: bold;">
                    <a>more lists with this book...</a>

                </div>

                <div class="community" style="margin-top: 20px;">
                    <div class="column5" style="font-weight: bold;">
                        COMMUNITY REVIEWS

                    </div>

                    <div class="column5 show1-30" style="text-align: right;">Showing 1-30</div>
                </div>

                <hr style="margin-top: 5px; margin-bottom: 10px;">

                <div>
                    code sau

                </div>

                <hr style="margin-top: 5px; margin-bottom: 10px;">

                <div class="startReview">
                    <div class="column6">
                        <img src="image/user3.PNG" />
                    </div>

                    <div class="column6" style="margin-left: 20px;">
                        <div>
                            Start your review of The Midnight Library
                        </div>

                        <div>

                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>

                            <span style="margin-bottom: 0%; margin-left: 20px; margin-top: 20px; font-size: 15px;">
                                <button type="button">Write a review</button></span>

                        </div>
                    </div>

                </div>

                <div class="reviewUser" style="margin-top: 20px;">
                    <div class="userImage column7">
                        <img src="image/user4.PNG">
                    </div>

                    <div class="detailReview column7">

                        <div>
                            <span><a>Selius Megande</a></span>
                            <span style="color: grey;"> rated it</span>
                            <span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>

                            </span>

                            <span>.</span>
                            <span>review of another edition</span>
                            <span>Aug 21,2020</span>
                        </div>

                        <div>
                            Okay! No more words! This is one of the best sci-fi dances with fantasy which carries
                            additional philosophic vibes novel of the year! I LOVED IT! ( this is not kind of toasting
                            for the book and raising your glass kind of loving it. This is more like climbing at the top
                            of the roof and declaring your love by shouting and howling to the moon kind of love. If you
                            read the song lyrics of “ Howl” at the book you may probably understand why I feel so
                            enthusiastic and why I’m writing a high volume revi<span><a>...more</a></span>
                        </div>

                        <div>
                            <span>
                                2176 likes
                            </span>

                            <span>.</span>
                            <span>
                                <button type="button">Like</button>
                            </span>
                            <span>.</span>

                            <span>
                                <a> see review</a>

                            </span>
                        </div>
                    </div>
                </div>


                <div class="pagination" style="text-align: right; float: right;">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>

            </div>

        </div>

        <div class="rightContainer column8">
            <div class="bigBox shareGroup">
                <div class id="shareButton"
                    style="float:left; display: table-cell;vertical-align: middle; margin: 5px;">
                    <span id="collumn">
                        <img style="width: 18px;height: 18px;" src="image/sharearrow.png" />
                    </span>
                    <a href="#" style='color: #00635D;
                    text-decoration: none;
                    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;'>Share </a>

                </div>
                <div id="iconSocialNetwork">
                    <button style="border:none;background-color: transparent; "><img style="width: 28px;height: 28px;"
                            src="image/facebook.png" /></button>
                    <button style="border:none;background-color: transparent; "><img style="width: 28px;height: 28px;"
                            src="image/twitter1.PNG" /></button>
                    <button style="border:none; background-color: transparent;"><img style="width: 28px;height: 28px;"
                            src="image/pinterest.png" /></button>
                </div>
            </div>

            <div class="bigBox recommendItBar">
                <a class=" greyText" data-title="The Midnight Library"
                    data-image="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1602190253l/52578297._SY75_.jpg"
                    href="#">Recommend It</a>

                <span class="greyText">&nbsp;|&nbsp;</span>
                <a class="greyText" href="/book/stats?id=52578297-the-midnight-library">Stats</a>
                <span class="greyText">&nbsp;|&nbsp;</span>
                <a class="greyText" href="/user_status/book/52578297-the-midnight-library">Recent Status Updates
                </a>
            </div>
            <div class="bigBox relatedworks">
                <h2 class="brownBackground " style='color: #382110;
                font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;'>
                    Readers also enjoyed
                </h2>
                <div class="bigBoxBody">
                    <div class="bigBoxContent ">
                        <div class='bookCarousel'>
                            <div class='carouselRow' style='width: 3600px'>
                                <ul>
                                    <li class='cover'>
                                        <a href="https://www.goodreads.com/book/show/26032912-the-queen-of-nothing"><img
                                                alt="The Queen of Nothing (The Folk of the Air, #3)"
                                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553624975l/26032912._SX98_.jpg" />
                                        </a>
                                    </li>
                                    <li class='cover'>
                                        <a href="https://www.goodreads.com/book/show/23197306-no-better-friend"><img
                                                alt="No Better Friend: One Man, One Dog, and Their Extraordinary Story of Courage and Survival in WWII"
                                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1418771587l/23197306._SX98_.jpg" />
                                        </a>
                                    </li>
                                    <li class='cover'>
                                        <a
                                            href="https://www.goodreads.com/book/show/52309313-the-invisible-women-s-society"><img
                                                alt="The Invisible Women&#39;s Society"
                                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1566523316l/52309313._SX98_SY160_.jpg" />
                                        </a>
                                    </li>
                                    <li class='cover' id='bookCover_50359667'>
                                        <a
                                            href="https://www.goodreads.com/book/show/50359667-confessions-of-a-forty-something-f-k-up"><img
                                                alt="Confessions of a Forty-Something F**k Up: The Funniest WTF AM I DOING?! Novel of the Year"
                                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1579541382l/50359667._SY160_.jpg" />
                                        </a>
                                    </li>
                                    <li class='cover' id='bookCover_52342376'>
                                        <a href="https://www.goodreads.com/book/show/52342376-to-the-woman"><img
                                                alt="To the Woman"
                                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1584096930l/52342376._SX98_.jpg" />
                                        </a>
                                    </li>
                                </ul>


                            </div>
                            <div class='navButton navButtonPrev initiallyHidden'>
                                <div class='navButtonArrow sliderArrowPrev'></div>
                            </div>
                            <div class='navButton navButtonNext'>
                                <div class='navButtonArrow sliderArrowNext'></div>
                            </div>
                        </div>
                        <a class="actionLink right seeMoreLink"
                            href="https://www.goodreads.com/book/similar/74043794-the-midnight-library">See similar
                            books…</a>
                    </div>
                </div>
            </div>

            <div class=" bigBox genres">
                <h2 class="brownBackground">
                    <a href="/work/shelves/74043794">Genres</a>
                </h2>

                <div class="bigBoxContent">
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/fiction">Fiction</a>
                        </div>
                        <div class="right">
                            <a title="5206 people shelved this book as &#39;fiction&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=fiction">5,206
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/fantasy">Fantasy</a>
                        </div>
                        <div class="right">
                            <a title="3643 people shelved this book as &#39;fantasy&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=fantasy">3,643
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/contemporary">Contemporary</a>
                        </div>
                        <div class="right">
                            <a title="1114 people shelved this book as &#39;contemporary&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=contemporary">1,114
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/audiobook">Audiobook</a>
                        </div>
                        <div class="right">
                            <a title="922 people shelved this book as &#39;audiobook&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=audiobook">922
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/magical-realism">Magical
                                Realism</a>
                        </div>
                        <div class="right">
                            <a title="723 people shelved this book as &#39;magical-realism&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=magical-realism">723
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/adult">Adult</a>
                        </div>
                        <div class="right">
                            <a title="616 people shelved this book as &#39;adult&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=adult">616
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/science-fiction">Science
                                Fiction</a>
                        </div>
                        <div class="right">
                            <a title="538 people shelved this book as &#39;science-fiction&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=science-fiction">538
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/health">Health</a>
                            &gt;
                            <a href="/genres/mental-health">Mental
                                Health</a>
                        </div>
                        <div class="right">
                            <a title="477 people shelved this book as &#39;mental-health&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=mental-health">477
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList ">
                        <div class="left">
                            <a href="/genres/adult-fiction">Adult
                                Fiction</a>
                        </div>
                        <div class="right">
                            <a title="358 people shelved this book as &#39;adult-fiction&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=adult-fiction">358
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="elementList elementListLast">
                        <div class="left">
                            <a href="/genres/writing">Writing</a>
                            &gt;
                            <a href="/genres/books-about-books">Books
                                About
                                Books</a>
                        </div>
                        <div class="right">
                            <a title="354 people shelved this book as &#39;books-about-books&#39;" rel="nofollow"
                                href="/shelf/users/52578297-the-midnight-library?shelf=books-about-books">354
                                users</a>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
                <a class="actionLink right seeMoreLink" href="/book/shelves/52578297-the-midnight-library">See top
                    shelves…</a>
                <div class="clear"></div>
            </div>

            <div class="bigBox aboutAuthor">
                <h2 class="brownBackground">
                    <a href="/author/show/76360.Matt_Haig">About Matt Haig</a>
                </h2>
                <div class="bigBoxContent">
                    <div class='bookAuthorProfile__topContainer'>
                        <div class='bookAuthorProfile__photoContainer'>
                            <a href="/author/show/76360.Matt_Haig">
                                <div class='bookAuthorProfile__photo'>
                                    <img src="image/matthaig.jpg">
                                </div>

                            </a>
                        </div>
                        <div class='bookAuthorProfile__widgetContainer'>
                            <div class='bookAuthorProfile__name'>
                                <a href="/author/show/76360.Matt_Haig">Matt Haig
                                </a>
                            </div>
                            <div class='goodreadsAuthorBadge'></div>
                            <div class='bookAuthorProfile__followerCount'>
                                16,774 followers
                            </div>
                            <div class="authorFollowButtonContainer">
                                <button name="button" type="button">Follow Author</button>

                            </div>

                        </div>

                    </div>
                    <div class='bookAuthorProfile__about'>

                        <span id="freeTextContainer">Matt Haig was born in Sheffield,
                            England in1975. He writes books for both adults and children, often blending the worlds of
                            domestic
                            reality and outright fantasy, with a quirky twist. His bestselling novels are translated
                            into 28 languages. The Guardian has described his writing as &apos;delightfully weird&apos;
                            and the
                            New York Times has called him &apos;a novelist of great talent&apos; whose writing is
                            &apos;funny,rive</span>
                        <span id="freeText" style="display:none">Matt Haig was born in Sheffield,
                            England in1975. He writes books for both adults and children, often blending the
                            worlds of domestic reality and outright fantasy, with a quirky twist. His bestselling
                            novels are translated into 28 languages. The Guardian has described his writing as
                            'delightfully weird' and the New York Times has called him 'a novelist of great talent'
                            whose writing is
                            'funny, riveting and heartbreaking'.
                            <br /> <br />
                            His novels for adults are The Last Family in England, narrated by a labrador and optioned
                            for film by Brad Pitt;
                            The Dead Fathers Club (2006), an update of Hamlet featuring an 11-year-old boy; The
                            Possession of Mr Cave (2008), about a
                            man obsessed with his daughter's safety, and The Radleys (2010) which won Channel 4's TV
                            Book Club
                            public vote and was shortlisted for a Galaxy National Book Award (UK). The film rights to
                            all
                            his adult novels have been sold. His next adult novel is The Humans (2013).
                            <br /> <br />
                            His multi-award winning popular first novel for children, Shadow Forest, was published in
                            2007 and its
                            sequel, The Runaway Troll, in 2009. His most recent children's novel is To Be A Cat
                            (2012).</span>
                        <a href="#" onclick="swapContent($(this));; return false;" style="color: #00635d;
                        text-decoration: none;">...more</a>

                    </div>
                </div>

            </div>
            <div class="bigBox authorBook">
                <h2 class="brownBackground"><a href="/author/list/76360.Matt_Haig">Books by Matt Haig</a></h2>
                <div class="bigBoxContent">
                    <div class="bodyBook">
                        <div class="book">
                            <a href="/book/show/16130537-the-humans"><img alt="The Humans" title="The Humans" width="50"
                                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1353739654l/16130537._SX98_.jpg" /></a>
                        </div>
                        <div class="book">
                            <a href="/book/show/45152372-how-to-stop-time"><img alt="How to Stop Time"
                                    title="How to Stop Time" width="50"
                                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1555966301l/45152372._SX98_.jpg" /></a>
                        </div>
                        <div class="book">
                            <a href="/book/show/25733573-reasons-to-stay-alive"><img alt="Reasons to Stay Alive"
                                    title="Reasons to Stay Alive" width="50"
                                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1453057036l/25733573._SX98_.jpg" /></a>
                        </div>
                        <div class="book">
                            <a href="/book/show/40404801-notes-on-a-nervous-planet"><img alt="Notes on a Nervous Planet"
                                    title="Notes on a Nervous Planet" width="50"
                                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1539107959l/40404801._SX98_.jpg" /></a>
                        </div>
                        <div class="book">
                            <a href="/book/show/7989160-the-radleys"><img alt="The Radleys" title="The Radleys"
                                    width="50"
                                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1271413639l/7989160._SX98_.jpg" /></a>
                        </div>
                    </div>

                    <div class="moreLink">
                        <a class="actionLink" href="/author/list/76360.Matt_Haig">More&hellip;</a>
                    </div>
                </div>
            </div>
            <div class="bigBox articles">
                <h2 class="brownBackground " style='color: #382110;
                font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;'>
                    Articles featuring this book
                </h2>
                <div class="news_item">
                    <div>
                        <a href="https://www.goodreads.com/blog/show/2077-readers-top-40-book-club-picks?ref=book-show">
                            <img class="newsPreview__newsImage"
                                src="https://images.gr-assets.com/blogs/1619197745p8/2077.jpg" /></a>
                    </div>
                    <div class="news_textSection">
                        <a class="news__newsHeader"
                            href="https://www.goodreads.com/blog/show/2077-readers-top-40-book-club-picks?ref=book-show"
                            data-reactid=".ehm3k684wq.1:$kca=2//blog/amzn1=1gr=1blog=1v3=1geGvrY5V4t1qgsC_.1.0.0">Readers&#x27;
                            Top 40 Book Club Picks </a>
                    </div>
                    <div class="news__excerpt">
                        What will you do when it's your turn to pick your book club's next read? Well, this
                        is what you won't do: panic. Why not? Because we've dug...</div>

                    <div class="news__readMore">
                        <a href="https://www.goodreads.com/blog/show/2077-readers-top-40-book-club-picks?ref=book-show">Read
                            more...
                        </a>
                    </div>
                    <div class="news__likesAndComments">
                        <span>87 likes</span>
                        <span>· </span>
                        <span>19 comments</span>
                    </div>
                </div>
            </div>
            <div class="bigBox trivia">
                <h2 class="brownBackground">
                    <a href="/trivia/work/74043794-the-midnight-library">Trivia About The Midnight Library </a>
                </h2>
                <div class="bigBoxContent">
                    <div class="mediumText">14 trivia questions<br /></div>

                    <a class="actionLink" style="float: right;" href="/trivia/work/74043794-the-midnight-library">More
                        quizzes &amp; trivia...</a>
                </div>


            </div>
            <div class="bigBox quotes">
                <h2 class="brownBackground">
                    <a href="/work/quotes/74043794-the-midnight-library">Quotes from The Midnight Library</a>
                </h2>
                <div class="bigBoxContent ">
                    <div class="stacked" tyle="padding-bottom:15px">
                        <span class="readable">&ldquo;It is easy to mourn the lives we aren't living. Easy to
                            wish we'd developed other other talents, said yes to different offers. Easy to wish we'd
                            worked harder, loved better, handled our finances more astutely, been more popular, stayed
                            in the
                            band, gone to Australia, said yes to the coffee or done more bloody yoga.<br />It takes no
                            effort
                            to miss the friends we didn't make and the work we didn't do the people we didn't do and the
                            people we didn't marry and the children we didn't have. It is not difficult to see yourself
                            through
                            the lens of other people, and to wish you were all the different kaleidoscopic versions of
                            you
                            they wanted you to be. It is easy to regret, and keep regretting, ad infinitum, until our
                            time runs
                            out.<br />
                            But it is not lives we regret not living that are the real problem. It is the regret
                            itself. It's the regret that makes us shrivel and wither and feel like our own and other
                            people's
                            worst enemy.<br />
                            We can't tell if any of those other versions would of been better or
                            worse. Those lives are happening, it is true, but you are happening as well, and that is the
                            happening we have to focus on.&rdquo;</span>
                        <nobr>
                            &mdash;
                            <a class="actionLinkLite"
                                href="/quotes/10412725-it-is-easy-to-mourn-the-lives-we-aren-t-living">597
                                likes</a>
                        </nobr>

                    </div>
                    <div class="stacked" tyle="padding-bottom:15px">
                        <span class="readable">&ldquo;If you aim to be something you are not, you will always
                            fail. Aim to be you. Aim to look and act and think like you. Aim to be the truest version of
                            you.
                            Embrace that you-ness. Endorse it. Love it. Work hard at it. And don't give a second thought
                            when
                            people mock it or ridicule it. Most gossip is envy in disguise.&rdquo;</span>
                        <nobr>
                            &mdash;
                            <a class="actionLinkLite"
                                href="/quotes/10398147-if-you-aim-to-be-something-you-are-not-you">440
                                likes
                            </a>
                        </nobr>
                    </div>
                    <a class="actionLink" style="float: right" href="/work/quotes/74043794-the-midnight-library">More
                        quotes&hellip;</a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>