.rate {
    float: left;
    height: 46px;
    
}
.rate:not(:checked) > input {
    position:absolute;
    /* position: relative; */
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.elementList{
    content: "";
    clear: both;
    display: table;
    color: #00635D;
}

.left{
    float: left;
}

.right{
    float: right;
    position: absolute;
    right: 0px;
}

@media (max-width: 768px){
    .myscreen{
        overflow-x: scroll;
    }
}

