<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen1</title>
    <link type="text/css" rel="stylesheet" href="screen1_style.css" />
    <link type="text/css" rel="stylesheet" href="normalize.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class = "container">
        <div>
            <h1>Best Fiction</h1>
            <div class = "topScreen">
                <div class = "column3"><span>New to Goodreads? Get great book recommendations!<a> Start Now</a></span></div>
                <div class = "column3 iconSocialNetwork">
                    <span><a><img src = "image/fb.PNG"/></a></span>
                    <span><a><img src = "image/twitter.PNG"/></a></span>
                </div>

            </div>
            
        </div>

        <div class = "topContainer">
            <div class = "leftTopContainer column">
                <div class = "bookImage">
                    <a>
                        <img src = "image/bookImage.png" style="width:170px;height:300px;margin-left:0px;"/>
                    </a>
                    
                </div>
                
     
            </div> 
    
            <div class = "rightTopContainer column">
                <div class = "Details">
                    <div class = "detailsAndbutton">
                        <div class = "bookDetails column2">
                            <div>
                                <span style="color: orange; font-weight: bold;">WINNER</span>
                                <span style="color: grey;">72,828 votes</span>
                            </div>
       
                            <div style="color: blue; font-weight: bold; font-size: 25px;">
                                The Midnight Library
                            </div>
       
                            <div style="color: grey;">
                                by Matt Haig (Goodreads author)
                            </div>
                       </div>
       
                       <div class = "wrapperButton column2">
                           <div class = "readButton">
                              <div class="dropdown">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown">Want to read
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Want to read</a></li>
                                    <li><a href="#">Currently read</a></li>
                                    <li><a href="#">Read</a></li>
                                    <hr style="margin-top: 5px; margin-bottom: 5px;">
                                    <div style="padding-left: 5px;">Add New Shelf</div>
                                </ul>
    
                              </div>
        
                            </div>
 
                            <div class="rate1">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>

                       </div>
                       

                    </div>
                    
    
                    <div class = "bookDescription">
                        This year’s Goodreads Choice Award for Fiction was the closest contest in the history of the awards. Your winner—by five votes—is The Midnight Library, author Matt Haig’s wildly inventive blend of literary and speculative fiction. The quick gist: Imagine a library in which each book represents a different path your life could have taken. Now imagine spending eternity in that library. It’s a Goodreads kind of dream…
    
                    </div>
    
                </div>
    
            </div>
    
        </div>

        <hr>
    
        <div class = "belowContainer"> 
            <div class = "nominees" style="padding-bottom: 20px;">
                <span>All Nominees . 506,978 votes total</span>
            </div>
    
            <div class = "allNominees" style="text-align: center; justify-content: center;"> 
                <div class = "nomineeBook column1">
                    <div style="text-align: center; font-weight: bold; color: grey;">
                        72,828 votes
                    </div>
    
                    <div>
                        <a href = "#"><img src = "image/bookImage.png" /></a>
                    </div>
    
                    <div class = "readButton" style="text-align: center;"> 
                        <div class = "readButton">
                            <div class="dropdown">
                              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Want to read
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Want to read</a></li>
                                  <li><a href="#">Currently read</a></li>
                                  <li><a href="#">Read</a></li>
                                  <hr style="margin-top: 5px; margin-bottom: 5px;">
                                  <div style="padding-left: 5px;">Add New Shelf</div>
                              </ul>
  
                            </div>
      
                          </div>

                          <div class="rate">
                              <input type="radio" id="star5" name="rate" value="5" />
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rate" value="4" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rate" value="3" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rate" value="2" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" id="star1" name="rate" value="1" />
                              <label for="star1" title="text">1 star</label>
                          </div>
    
                    </div>
                </div>
    
                <div class = "nomineeBook column1" style="text-align: center; justify-content: center;">
                    <div style="text-align: center; font-weight: bold; color: grey;">
                        72,828 votes
                    </div>
    
                    <div>
                        <a href = "#"><img src = "image/book2.png" /></a>
                    </div>
    
                    <div class = "readButton" style="text-align: center; justify-content: center;"> 
                        <div class = "readButton">
                            <div class="dropdown">
                              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Want to read
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Want to read</a></li>
                                  <li><a href="#">Currently read</a></li>
                                  <li><a href="#">Read</a></li>
                                  <hr style="margin-top: 5px; margin-bottom: 5px;">
                                  <div style="padding-left: 5px;">Add New Shelf</div>
                              </ul>
  
                            </div>
      
                          </div>

                          <div class="rate">
                              <input type="radio" id="star5" name="rate" value="5" />
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rate" value="4" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rate" value="3" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rate" value="2" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" id="star1" name="rate" value="1" />
                              <label for="star1" title="text">1 star</label>
                          </div>
    
                    </div>
                </div>
    
                <div class = "nomineeBook column1">
                    <div style="text-align: center; font-weight: bold; color: grey;">
                        72,828 votes
                    </div>
    
                    <div>
                        <a href = "#"><img src = "image/book3.png" /></a>
                    </div>
    
                    <div class = "readButton" style="text-align: center;"> 
                        <div class = "readButton">
                            <div class="dropdown">
                              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Want to read
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Want to read</a></li>
                                  <li><a href="#">Currently read</a></li>
                                  <li><a href="#">Read</a></li>
                                  <hr style="margin-top: 5px; margin-bottom: 5px;">
                                  <div style="padding-left: 5px;">Add New Shelf</div>
                              </ul>
  
                            </div>
      
                          </div>

                          <div class="rate">
                              <input type="radio" id="star5" name="rate" value="5" />
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rate" value="4" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rate" value="3" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rate" value="2" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" id="star1" name="rate" value="1" />
                              <label for="star1" title="text">1 star</label>
                          </div>
    
                    </div>
                </div>
    
                <div class = "nomineeBook column1">
                    <div style="text-align: center; font-weight: bold; color: grey;">
                        72,828 votes
                    </div>
    
                    <div>
                        <a href = "#"><img src = "image/book4.png" /></a>
                    </div>
    
                    <div class = "readButton" style="text-align: center;"> 
                        <div class = "readButton">
                            <div class="dropdown">
                              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Want to read
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Want to read</a></li>
                                  <li><a href="#">Currently read</a></li>
                                  <li><a href="#">Read</a></li>
                                  <hr style="margin-top: 5px; margin-bottom: 5px;">
                                  <div style="padding-left: 5px;">Add New Shelf</div>
                              </ul>
  
                            </div>
      
                          </div>

                          <div class="rate">
                              <input type="radio" id="star5" name="rate" value="5" />
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rate" value="4" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rate" value="3" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rate" value="2" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" id="star1" name="rate" value="1" />
                              <label for="star1" title="text">1 star</label>
                          </div>
    
                    </div>
                </div>
    
    
    
            </div>
    
    
        </div>

        <div style="text-align: right;">
               <a href="#" style="color: grey; font-weight: bold; font-size: 20px;">MYSTERY & THRILLER ></a> 
        </div>

    </div>
    
</body>
</html>