<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="signup_style.css">
</head>
<body>
    <div class="signup">
        <i class="fa fa-joomla"></i>
        <h2>Sign up</h2>
        <div class="group"><input type="text" placeholder="Username"><i class="fa fa-user"></i></div>
        <div class="group"><input type="password" placeholder="Password"><i class="fa fa-lock"></i></div>
        <div class="group"><input type="password" placeholder="Confirm password"><i class="fa fa-lock"></i></div>
        <div class="group"><input type="text" placeholder="Fullname"></div>
        <div class="group"><input type="text" placeholder="Email"></i></div>
        <div class="group"><input type="text" placeholder="Date of birth"></i></div>
        <div class="group"><input type="text" placeholder="Address"></i></div>
        <button type="button" onclick="successfully_signup.html"> <i class="fa fa-send"></i>Sign up</button>
        <p class="ss"><a href="login.html">Sign in</a></p>
    </div>
</body>
</html>